<div id="reader">
  <div id="tool-bar">
    <div class="home">
      <a id="home" href="/"><img src="../images/ic_action_home.png"></a>
    </div>
    <div class="">
      <h4 id="openreader-title" class="openreader-title"></h4>
    </div>

    <div class="openreader-options">
      <div id="index">
        <a href="javscript:void(0);">
          Contents
        </a>
      </div>
      <div id="notes">
        <a href="javascript:void(0);">
          Notes
        </a>
      </div>
      <div id="quotes">
        <a href="javascript:void(0);">
          Quotes
        </a>
      </div>
      <div id="settings">
        <a href="javascript:void(0);">
          Settings
        </a>
      </div>
      <div id="search">
        <a href="javascript:void(0);">
          Search
        </a>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <div id="content"></div>
</div>
