/* line 1, ../sass/page-reader.scss */
.page-title {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 0;
  font-size: 150%;
}

/* line 11, ../sass/page-reader.scss */
#tool-bar div {
  padding-right: 20px;
  float: left;
}
/* line 16, ../sass/page-reader.scss */
#tool-bar .openreader-options {
  display: table;
  float: right;
}
/* line 19, ../sass/page-reader.scss */
#tool-bar .openreader-options div {
  display: table-cell;
}
/* line 23, ../sass/page-reader.scss */
#tool-bar .openreader-title {
  padding-top: 20px;
  font-size: 130%;
  font-weight: bold;
}

/* line 30, ../sass/page-reader.scss */
.page-body {
  overflow: hidden;
  width: auto;
}

/* line 35, ../sass/page-reader.scss */
.page-end {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
